body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

/* Typography */
h1, h2 {
  font-family: 'Zilla Slab', serif;
  font-size: 500%;
  margin: 0;
}

a {
  color: #fff;
}

.content p {
  text-align: justify;
}

/* Navigation */
.col-nav {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: fixed;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 33.3333%;
  top: 0;
  right: 0;
  max-width: 33.3333%;
  width: 100%;
  justify-content: center;
}

.col-nav.sticky {
  bottom: 0;
  position: absolute;
  top: auto;
}

.col-nav .anchor-num {
  color: rgba(255, 255, 255, 0.5);
}

.col-nav nav {
  padding: 0px;
}

.col-nav ul {
  list-style: none;
  font-size: 230%;
  font-family: 'Zilla Slab', serif;
  margin: 0;
  padding: 0 45px;
}

.col-nav a {
  text-decoration: none;
}

.col-nav li {
  margin: 15px 0;
}

.col-nav li:hover .nav-item {
  background: #fff;
  color: #000;
}

.nav-item.active {
  background: #fff;
  color: #000;
}

.active a {
  color: #000;
}

.col-nav .anchor-num {
  display: inline-block;
  margin-right: 10px;
}

/* Header icon */
.icon {
  width: 169px;
  position: absolute;
  margin: 25px 45px;
}

.icon img {
  width: 100%;
  user-select: none;
}

/* Content */
.col-content {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 66.6666%;
  max-width: 66.6666%;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Screens */
.screen {
  min-height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.screen .content {
  padding: 100px 45px;
  box-sizing: border-box;
  max-width: 800px;
  width: 100%;
}

/* Screen content */
.vid {
  width: 100%;
  margin-top: 50px;
  max-width: 800px;
  height: 350px;
}

.vid iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content .anchor-num {
  color: #999;
  display: block;
}

/* Footer */
.footer {
  background: #000;
}

.footer ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.footer-main {
  padding: 0px 40px 45px 45px;
}

.footer-top {
  border-top: 1px solid;
  padding-top: 20px;
}

/* Responsive */
@media only screen and (min-width: 1000px) {
  .col-nav ul {
    font-size: 300%;
  }
}

@media only screen and (max-width: 900px) {
  .col-nav {
    position: relative !important;
    height: auto;
    top: 0;
    width: 100%;
    max-width: 100%;
  }

  .col-content {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
  }
}